html, body
{
  background: #e0c0b4;
}

img
{
  width: 70%;
}

a
{
  color: black;
  text-decoration: none;
}

a:visited
{
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

footer
{
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.center
{
  text-align: center;
}

div.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.center {
  text-align: center;
}


.countup {
  text-align: center;
  margin-bottom: 20px;
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup h2[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

